    /* photo responsive */
    
    .rounded-circle {
        border-width: 8px !important;
        border-color: #d27862 !important;
        max-width: 100%;
        height: auto;
        display: block;
    }
    /* Font control */
    
    h1 {
        font-family: 'Shanti', sans-serif;
        font-size: 48px;
        font-weight: bold;
    }
    
    .name {
        font-size: 72px;
    }
    
    .colorLink {
        font-family: 'Martel Sans', sans-serif;
        font-weight: bold;
        color: white !important;
        opacity: 0.5;
    }
    
    h3,
    h4 {
        font-family: 'Voces', cursive;
    }
    
    p {
        font-family: 'Martel Sans', sans-serif;
    }
    
    .date {
        color: #c65539;
        ;
    }
    
    .icons {
        font-size: 64px;
        color: black;
    }
    
    .error {
        color: red;
    }
    /*other controls*/
    
    .myline {
        width: 88vw;
        height: 1px;
        background-color: rgb(231, 218, 218);
    }
    
    section {
        margin-left: 16% !important;
    }
    
    .btn-lg {
        width: 96px;
        height: 48px;
    }
    
    .container-fluid {
        margin-left: 0px !important;
    }